// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;


// Personnal colors :

$main: #F4F7F6;
$green: #4FC4B6;
$light-blue: #93F9B9;
$dark-gray: #141414;
$gray: #727272;
$light-gray: #C4C4C4;
