// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700|Oswald:200,300,400,500,600,700');

// Define fonts for body and headers
$body-font: "Montserrat", "Helvetica", "sans-serif";
$headers-font: "Oswald", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

.h1 {
  font-size: 90px;
  letter-spacing: 5px;
  color: $black;
}

.h2 {
  font-size: 36px;
  letter-spacing: 5px;
  color: $black;
}

.h3 {
  font-size: 36px;
  letter-spacing: 5px;
  color: $black;
}

.h4 {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 5px;
  color: $black;
}

.h5 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 20px;
}
