.main-container {
  display: flex;

  // Alignement titre page avec cartes
  .h2 {
    padding-left: 43px;
    margin-bottom: -3px;
    font-size: 30px !important;
  }
}

a {
  &:hover {
  text-decoration: none !important;
  }
}

.sidebar-container {
  width: 70px;
  min-width: 70px;
}

.content-container {
  flex: 1 1 auto;
}

.container {
 width: 1300px;
  min-width: 450px;
 margin-bottom: 20px;
 margin-top: 20px;
 margin-right: 50px;
}

.app-card {
    //taille et fonction
  width: 245px;
  height: 240px;
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 30px;

  // design
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  color: black;

    &:hover {

       height: 240px;
       box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);

      .app-card__content {
        width: 100%;
        font-size: 14px;
        padding: 0 5px;
      }

      .app-card__image {
       display: none;

      }
      .short-description {
        display: inline;
      }
      .app-card__category-tags-container{
        display: none;
      }
       .app-card__category {
         display: none;
      }

      .icons-container {
        //It should be something here
      }

      .bookmarks-nb {
        display: none;
      }
    }
}

.app-card__image {
  height: 120px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 0px 25px 0px 25px;
  background-origin: content-box,padding-box;
}

.short-description {
  display: none;
}

.icons-container {
  position: absolute;
  top: 40px;
  right: 40px;
  display: none;
}

.app-card__category-tags-container {
  width: 100%;
  font-weight: 300px;
  color: $light-gray;
  font-size: 12px;

  //Ajout pour mettre le nb de coeur et favorite together
  display: flex;
  justify-content: space-between;
}

.app-card__content {
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.app-card__category {
  margin: 0;
}

.bookmark-container {
  display: inline;
  position: relative;
  right: 35px;
  top: 10px;
}

.btn-submit__container {
  display: flex;
  justify-content: center;
}
.submit-btn {
  width: 150px;
  height: 30px;
  font-size: 12px;

}

.app-card___submit-description {
  margin-bottom: 60px;
  margin-top: 30px;
}
// Here start the grid

.features {
  padding-left: 21px;
  height: 65vh;
  margin-top: 15px;
  min-width: 400px;
}

.grid-features {
    display: grid;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    grid-column-gap: 30px;
    height: 100%;
    width: 100%;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 0px;
    min-width: 0px;
}

.box-features {
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);

}

.box-features__main {
  position: relative;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  border-radius: 5px;
  height: 100%;

  .h4 {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: $gray;
  }
}


  .one-b {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
  }

  .two-b {
    grid-row: 1/ span 1;
    grid-column: 2 / span 1;
  }

  .three-b {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
  }
