//Contenant

.app-card__fav {
  //taille et fonction
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;

  // design
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  // Hover effect
  &:hover {
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);

    .app-card__hidden{
      visibility: visible;
    }
  }
}

// Contenant de la photo
.app-card__visible {

  height: 160px;
  width: auto;
  padding: 20px;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-origin: content-box,padding-box;
}

// partie cache de la carte - boutons
.app-card__hidden{
  //Position & size
  position: absolute;
  top : 20px;
  height: 20px;
  // propriete
  visibility: hidden;
}

.fav-icon__info {
  position: absolute;
  left : 20px;
}

.fav-icon__trash {
  position: absolute;
  right : 20px;
}

.fav-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.share-fav-btn {
  border: none;
}

.nav{
  //Position
  margin-top: 25px;
  margin-bottom: 25px;

  //Propriétés
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: $gray;

  &:hover{
  background-color: none !important;
  }
  a {
    color: $gray;
    text-decoration: none;
  }
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: $green;
  background-color: transparent !important;
  font-weight: bold;
  font-family: "Montserrat";
  }

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
