.home-container {
  // Position
  width: 100%;
  position: relative;

  // Div action
  display: flex;
  align-items: center;
  justify-content: center;
}

.leitmotiv {
  //position & taille
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  width:30%;
  //cancel the marge of the text
  h1{
    margin: 0px !important;
  }
  //adapt the button
  .button {
    //Position
    margin-top: 30px;
    width:75%;

    //font
    font-weight: bold;
  }
}

.mock-up {
  margin-bottom: 50px;
}

#mock {
  height: 650px;
  position: relative;
  left: 174px;
  top: 20px;
}

.value {
  height: 850px;
  background-size: cover;
  h2 {
    color: white;
    position: relative;
    top: 130px;
    text-align: center;
  }
}

.grid {
  display: grid;
  position: relative;
  top: 150px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 65%;
  margin-top: 25px;
  margin-bottom: 25px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  min-height: 0;
  min-width: 0; /* NEW; needed for Firefox */
}

.box{
  margin: 25px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.value-icon {
  width: 100%;
  height: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-size:15%;
}

.one {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.two {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.three {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}

.four {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.value-text{
  color: #8E2DE2;
  text-align: center;

  .value-text__strong{
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
  }

}

.icon-panel {
  height: 1250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000px auto;
  display: flex;
  justify-content: center;
  position: relative;
  h2 {
    position: absolute;
    top: 60px;
  }
}

.sign-up-landing {
  width: 250px;
  position: absolute;
  top: 1150px;
}

