.shared-apps__top {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	margin: 25px 12.5px 0px 0px;

  h2{
    font-size: 30px;
  }
}


.shared-apps-name {
	margin-left: -14px;
}


