.app-card__show{
  //position size
  padding: 20px;
  margin: 20px;

  //style
  background-color: white;
  box-shadow: 0 0.5px 0.5px 0 rgba(0,0,0,0.1), 0 0.5px 1px 0 rgba(0,0,0,0.1), 0 1px 0.5px -2px rgba(0,0,0,0.1);
  border-radius: 3px;
}

.app-show__wrapper {
  background-color: #F4F7F6;
  width: 100%;
}
  .app-show__main-container {
    display: flex;
  }

  .app-show__side {
    color: rgb(30, 30, 30);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: sticky !important;
    top: 100px !important;
  }

  .app-show__logo {
    width: 150px;
    border-radius: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center !important;
    height: 150px;
  }

  .app-show__button{
    margin-bottom: 15px;
    width: 50%;
    height: 40px;
    font-size: 15px;
  }

  .button-grey {
    background: #C4C4C4;
  }


  .app-show__main {
   color: rgb(30, 30, 30);

  }

  .app-show__heading {
    color: rgb(25, 25, 25);
    letter-spacing: 4px;
  }

  .app-show__category {
    color: rgb(25, 25, 25);
    margin-bottom: 0px;
    margin-top: 30px;

  }

  .price-average-wrapper {
    display: flex;
    flex-direction: column;
    .average {
      margin-left: 30px;
    }
  }

  .app-show__price {
    color: rgb(25, 25, 25);
    text-decoration: none;
    margin: 0;
  }

  .app-show__description {
    margin-top: 10px;
  }

  .app-show__image {
    width: 150px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    margin-bottom: 30px;
    border: none;
  }

.carousel-button {
   display: flex;
   justify-content: center;

 .button{
   border: none !important;
   height: 25px;
   margin: 0 10px;

   font-family: ‘Oswald’;
   font-size: 15px;

   &:focus{
     box-shadow: none;
     outline: none;
   }
 }
}

button.prev.button {
  background: none;
  color: $gray;
  box-shadow: none;
  font-family: "Montserrat";
  text-decoration: underline;
}

button.next.button {
  background: none;
  color: $gray;
  box-shadow: none;
  font-family: "Montserrat";
  text-decoration: underline;
}
