<footer class="footer">
  <div class="footer-copyright">
    <p>&copy; Copyright 2018, NOORA</p>
  </div>
  <div class="footer-owner">
    Designed with <i class="fa fa-heart"></i> by:
    <div class="footer-links">
      <a href="#">
        <img src='https://kitt.lewagon.com/placeholder/users/jackjoconnor' class="avatar"/>
      </a>
      <a href="#">
        <img src='https://kitt.lewagon.com/placeholder/users/tulpekaiser' class="avatar"/>
      </a>
      <a href="#">
        <img src='https://kitt.lewagon.com/placeholder/users/sdanglades' class="avatar"/>
      </a>
      <a href="#">
        <img src='https://kitt.lewagon.com/placeholder/users/jlbdcn' class="avatar"/>
      </a>
    </div>
  </div>
</footer>
