<footer class="footer">
  <div class="footer-made-by">
    Made with <i class="fas fa-heart"></i> &  <i class="fas fa-coffee"></i> by <a href="https://www.linkedin.com/in/jlbdcn/" target="_blank" >Julien</a>, <a href="https://www.linkedin.com/in/jan-s-16a187154/" target="_blank"> Ian</a>, <a href="https://www.linkedin.com/in/jackjoconnor" target="_blank">Jack</a> and <a href="" target="_blank" > Sebastien</a>
  </div>
  <div class="footer-copyright">
      <p> © 2018 | Noora </p>
  </div>
</footer>
