
<div class="review">
  <div class="review-header">
    <%= cl_image_tag review.user.avatar_url, class: "review__avatar" %>
    <div>
      <p class="review__user"><b><%= review.user.username.capitalize! %></b> on <%= l(review.created_at, format: :month_year) %></p>
      <p class="review__ratings">
        <% review.rating.times do %>
          <i class="fa fa-star" aria-hidden="true"></i>
        <% end %>
      </p>
    </div>
  </div>
  <p class="review__content"><%= review.content %></p>

</div>
