
<div class="container">
  <div class="leitmotiv">
    <h1 class="h1"> Find.</h1>
    <h1 class="h1"> Book.</h1>
    <h1 class="h1"> Manage.</h1>
    <%= link_to "Discover", "", class: "button" %>
  </div>
  <div class="mock-up">
    <%= image_tag "mockup.png", id: "mock" %>
  </div>
</div>

