<div class="container">
  <div class="row">
    <div class="col-12 titre">
      <h2>You're favorite apps</h2>
    </div>
  </div>

  <div class="row">
    <!-- Favorite apps -->
    <% @apps.each do |app| %>
      <div class="col-xs-6 col-sm-4 col-md-2">
          <%= link_to app_path(app) do %>
            <div class="app-card__fav">
              <div class="hidden">
                <div class="option">

                </div>
                <div class="option">

                </div>
              </div>
              <div class="image-container">
                <div class="app-card-image" style="background-image: url('<%= app.logo %>')">
                </div>
              </div>
            <% end %>
          </div>
      </div>
    <% end %>
  </div>
</div>
