/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $gray;
}
.alert-warning {
  background: $red;
}
.bookmark-alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  visibility: hidden;
  padding: 20px;
  color: white;
  border-radius: 5px;
  border-color: none;
  shadow: none;
  button {
    color: white;
    opacity: 0.7;
  }
}
.bookmark-alert-display {
  visibility: visible;
  z-index: 202;
}
