.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: $brand-gradient;
  color: #FFF;
  font-size: 20px;
  font-weight: 200;
  border-radius: 50px;
  &:hover {
    text-decoration: none;
    color: white;
    box-shadow: 1px 1px 24px -5px rgba(0,0,0,0.38);
  }
}
