.footer {
  padding: 15px 30px;
  height: 70px;
  display: flex;
  direction: row;
  align-items: center;
  justify-content: space-between;
  background: #F4F7F6;
  font-size: 12px;

}

.footer-made-by {
  margin-left: 60px
}

.footer-copyright{
  display: flex;
  direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}
