.footer {
  display: flex;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
  padding: 15px 30px;
}

.footer-owner {
  text-align: right;

  .footer-links {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;

  }
  .footer-links a {
    color: black;
    opacity: 1;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
    font-size: 15px;
  }
  .fa-heart {
    color: $brand-primary;
  }

}

.footer-copyright {
  display: flex;
  align-items: center;
}
