.form {
  background-image: linear-gradient(-40deg, #4FC4B6, #93F9B9);
  margin-top: 35px;
  h1 {
    text-align: center;
  }
}

.form-inputs {
  .form-control:focus {
    border-color: transparent;
    box-shadow: none;
  }
  .form-control:focus {
    border: 2px solid #d3ffff;
    background-color: $green;
  }
}
