
.review {
  border-bottom: 1px solid lightgray;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
}

.review-header {
  display: flex;
}

.review__avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 50%;
}

.review__user {
  margin: 0px;
}

.review__ratings {
  margin: 0px;
}

.review__content {
  margin-top: 10px;
  margin-left: 3px;
}

.review__created_at {
  margin: 0px;
}

.review__button {
  border: none;
  margin-bottom: 30px;
  background: #C4C4C4;
  color: white;
  font-size: 12px;
}

.submit-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}




// Radio buttons hack, hide inputs and style labels
// as click on label causes input to be selected 
// and send right data into params

#vote_controls > .form-check {
  display: inline-block;
}

fieldset legend {
  display: none;
}

#vote_controls {
  input[type=radio] {
    display: none;
  }


  label {
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    line-height: 40px;
    height: 40px;
    width: 40px;
    float: left;

    &:hover {
      background: blue !important;
      color: #fff !important;
    }
  }

  label[for^="review_rating_1"] {
    background-color: #E9F1FE;
  }

  label[for^="review_rating_2"] {
    background-color: #D4E3FD;
  }

  label[for^="review_rating_3"] {
    background-color: #BED4FC;
  }

  label[for^="review_rating_4"] {
    background-color: #A9C6FB;
  }

  label[for^="review_rating_5"] {
    background-color: #93B8FA;
  }

  label[for^="review_rating_6"] {
    background-color: #7DAAFA;
  }

  label[for^="review_rating_7"] {
    background-color: #679BF9;
  }

  label[for^="review_rating_8"] {
    background-color: #528DF8;
  }

  label[for^="review_rating_9"] {
    background-color: #4082F7;
  }

  label[for^="review_rating_10"] {
    background-color: #2771F6;
  }


  input[id^="review_rating_"][type=radio]:checked ~ label[for^="review_rating_"] {
    background: blue;
    color: #fff;
  }

}

