.sidebar__sticky {
  position: fixed !important;
}

.sidebar {
  width: 70px;
  position: absolute;
  z-index: 201;
  background-color: white;
  color: black;
  height: 100vh;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.2s ease;
  a {
    decoration: none;
    color: black;
  }
  ul {
    list-style: none;
    padding: 0px;
  }
  li {
    padding: 15px 25px;
    padding-right: 0px;
    &:hover {
      background-color: #e8ebed;
    }
  }
  &:hover {
    width: 270px;
    .sidebar__category-name {
      display: inline;
    }
    .sidebar__logo-hovered {
      display: inline;
    }
    .sidebar__logo-unhovered {
      display: none;
    }
    .sidebar__search {
      display: flex;
    }
  }
}

.sidebar__logo {
  height: 70px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  img {
    margin: 12px 17px;
  }
}

.sidebar__category-name {
  margin-left: 10px;
  display: none;
}

.sidebar__logo-hovered {
  display: none;
}

.sidebar__search {
  height: 70px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.5s ease;
  display: none;
  align-items: center;
  position: absolute;
  top: calc(100vh - 70px);
}

.sidebar__search-bar {
  margin: 0px 30px;
  border: 1px solid #c9c9c9;
  border-radius: 25px;
  padding: 0px 20px;
  display: flex;
  i {
    margin-top: 10px;
    color: #c9c9c9
  }
}

.sidebar__search-bar-input {
  border: none;
  box-shadow: none;
  font-size: 14px;
  &:focus {
    border: none;
    box-shadow: none;
  }
}

.sidebar__favorite {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}
