.sidebar__sticky {
  position: fixed !important;
}

.sidebar {
  width: 70px;
  position: absolute;
  z-index: 201;
  background-color: white;
  color: black;
  height: 100vh;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.01), 0 1px 0 0 rgba(0, 0, 0, 0.01);
  transition: width 0.2s ease;
  a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  ul {
    list-style: none;
    padding: 0px;
  }
  li {
    padding: 5px 15px;
    padding-right: 0px;
    &:hover {
      background-color: #e8ebed;
      .sidebar-icon-hover {
        display: inline;
      }
      .sidebar-icon-no-hover {
        display: none;
      }
    }
  }
  &:hover {
    width: 270px;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    .sidebar__category-name {
      opacity: 1;
    }
    .sidebar__logo-hovered {
      opacity: 1;
    }
    .sidebar__search {
      opacity: 1;
      transition: all 0.3s ease 0.03s;
      background: none;
    }
    li {
      padding-right: 15px;
    }
  }
}

.sidebar__logo {
  height: 70px;
  box-shadow: 0 1px 1px 0 rgba(244, 247, 246, 1), 0 1px 0 0 rgba(244, 247, 246, 1);
  position: relative;
  display: flex;
  overflow: hidden;
  img {
    position: absolute;
    top: 10px;
    left: 17px;
  }

}

.sidebar__category-name {
  margin-left: 10px;
  margin-top: 13px;
  opacity: 0;
  white-space: nowrap;
  transition: 0.2s all ease;
}

.sidebar__logo-hovered {
  opacity: 0;
  transition: 0.1s all ease;
}

.sidebar__search {
  height: 64px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.01), 0 1px 0 0 rgba(0, 0, 0, 0.01);
  opacity: 0;
  align-items: center;
  width: 100%;
  display: flex;
  background-color: white;
}

.sidebar__search-bar {
  margin: 0px 30px;
  border: 1px solid #c9c9c9;
  border-radius: 25px;
  padding: 0px 10px;
  display: flex;
  font-size: 14px;
  color: #c9c9c9;
  i {
    margin-top: 13px;
  }
}

.sidebar__search-bar-input {
  border: none;
  background-color: transparent;
  box-shadow: none;
  padding: 0px;
  font-size: 14px;
  text-align: center;
  margin-right: 10px;
  &:focus {
    border: none;
    box-shadow: none;
  }
}

.sidebar__favorite {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.01), 0 1px 0 0 rgba(0, 0, 0, 0.01);
}

.sidebar-icon {
  width: 45px;
  height: 48px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.sidebar-icon-no-hover {
  display: inline;
}

.sidebar-icon-hover {
  display: none;
}

.sidebar__search-placeholder {
  height: 50px;
}
